*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe UI', sans-serif;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    position: relative;
}

#acessarButton {
    position: absolute;
    bottom: -10px; /* Ajusta a distância do botão ao fundo */
    left: 50%;
     transform: translateX(-50%); 
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s;

 
}

#acessarButton:hover {
    background-color: rgb(255, 0, 0); /* Cor de destaque quando o botão é clicado */
}